body{
    background-color: black;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
     
}


.grid{
    display: grid;
    grid-template-columns:  0.8fr 1fr;
    height: 500px;
    
    /* background-image: url(images/photo.jpg); */
    
    
    

}
.grid_item1{
    padding: 10px;
    
    color: blue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.grid_item1 p{
    color: rgb(106, 15, 15);
    
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 80px;
}
.grid_item1 p b{
    color: rgb(169, 12, 12);
    
    font-size: 30px;
}
.moto{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
.grid_item1 button{
    margin-top: 40px;
    background-color:white; 
    padding: 10px;
    border-style: none;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.grid_item1 button:hover{
    background-color: rgb(169, 12, 12);
}

.grid_item2{
    
    
    margin-left: 10px;
    color: blue;
    text-align: center;
    height: 500px;
   
}
.grid_item2 img {
    
    width: 100%; /* Occupy 100% of the available width */
    height: 100%; /* Occupy 100% of the available height */
    object-fit: contain; /* Adjust the image to fit within the container */
}
.container{
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 90px;
    
   

    margin-bottom: 40px;


}
.container div{
    height: 90px;
    
}
.container div img{
    width: 100%; /* Occupy 100% of the available width */
    height: 100%; /* Occupy 100% of the available height */
    object-fit: contain;

}
.title h2{
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
    
}

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:400px ;
    
    column-gap: 70px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 25px;
    background-color: rgb(35 35 35);

}
.product_container{
    display: grid;
    grid-template-rows: 1.6fr 0.4fr;

  
    background-color: white;
}

.product_image{
    
    background-color: blue;
    height: 320px;
    width: 290px;
   

}
.product_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}
.product_description{
    margin-top: 10px;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    
}

.product_detail{
    display: grid;
    grid-template-columns:1.4fr 0.6fr ;

}

.action{
    display: grid;
    grid-template-rows: 1fr 1fr;
   
    row-gap: 5px;
}
.action button{
    background-color: black;
    height: 100%;
    width: 100%;
   
    border: 0px;
    color: white;
    
  


}
.action button:hover{
    background-color: rgb(43, 36, 36);
}

.buy{
    background-color:green;
    margin-right: 4px;
    margin-top: 4px;
}

.rent{
    background-color: yellow;
    margin-right: 4px;
    margin-bottom: 4px;
}
footer{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(169, 12, 12);
    margin-top: 50px;
    
    height: 143px;
    column-gap: 60px;
    
    
}
footer a{
    font-size: 14px;
    font-weight: lighter;
    
    color: #fff;
}
.contact-us{
    margin-top: 10px;
    font-weight: bolder;
}
.quick-links{
    margin-top: 10px;
    font-weight: bolder;

}
.social-media{
    margin-top: 10px;
    font-weight: bolder;

}
footer a:hover{
    color: black;
}
.footer-bottom{
    text-align: center;
}
.contact-us div{
    margin-top: 10px;


}
.quick-links div{
    margin-top: 10px;
}
.social-media div{
    margin-top: 5px;

}
.privacy-policy{
    color: black;
    background-color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bolder;
}
.search img{
    
    margin-left: 410px;
}
.about-us{
    text-align: center;
}
.services{
    margin-left: 50px;

}




